html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}

.App{
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.sidebar{
  background-color: #3F164A;
  width: 100vw;
  height: 15vh;
  position: absolute;
  display: flex;
}

.reyansh{
  font-family:sans-serif;
  background: linear-gradient(90deg, #E17995 0%, #BB46A5 5%);
  font-variant: initial;
  -webkit-background-clip: text;
  color: transparent;
  font-size: 45px;
  padding-top: 7px;
  padding-left: 40px;
}

.tools{
  align-items: center;
  justify-content:center;
  display:flex; 
  color:white;
  align-content:space-around;
  margin-right: 150px;
  margin-left: auto;
  font-size: 25px;
  height:100%;
  font-style: italic;
}

.tools div {
  margin-right: 100px; /* Adds space between the items */
}

.tools div:hover{
  cursor: pointer;
}
