html,
body,
#root {
  margin: 0;
  padding: 0;
  height: 100%;
}


.App{
  width: 100%;
  position: relative;
  margin: 0px;
  padding: 0px;
}

.sidebar{
  background-color: #3F164A;
  width: 100vw;
  height: 12.5vh;
  position: absolute;
  display: flex;
}

.reyansh{
  font-family:sans-serif;
  background: linear-gradient(90deg, #E17995 0%, #BB46A5 80%);
  -webkit-background-clip: text;
  color: transparent;
  font-size: 45px;
  display: flex;
  padding-left: 40px;
  height: auto;
  position: absolute;
}

.tools{
  align-items: center;
  justify-content:center;
  display:flex; 
  color:white;
  align-content:space-around;
  margin-right: 150px;
  margin-left: auto;
  font-size: 25px;
  height:100%;
  font-style: italic;
}

.tools div {
  margin-right: 100px; /* Adds space between the items */
}

.tools div:hover{
  cursor: pointer;
}

.footer{
  background-color: #3F164A;
  z-index: 3;
  width: 100vw;
  height: 9.8vh;
  position: absolute;
  margin-top: 700px;
  display: flex;
  overflow-y: hidden;
  justify-content: center;
  align-items: center;
  align-content: center;
  color: white;
  font-size: 25px;
  font-style: italic;
}

.MainPage {
  z-index: -1;
  height: 100vh;
  width: 100vw;
  position: absolute;
  background-image: url('./genshin.jpg'); /* Set the image as a background */
  background-size: cover; /* Ensures the image covers the entire page */
  background-position: center; /* Centers the image */
  height: 100vh; /* Ensures the background takes the full height of the viewport */
}